<?xml version='1.0' encoding='utf-8'?>
<widget id="com.borsam.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Borsam</name>
    <description>
        Borsa portföyünüzü takip edin, analiz edin ve büyütün
    </description>
    <author email="info@borsam.app" href="https://borsam.app">
        Borsam Team
    </author>
    
    <!-- Preferences -->
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="36" />
    <content src="index.html" />
    <!-- Allow all requests -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <!-- Android specific -->
    <allow-intent href="market:*" />
    
    <!-- iOS specific -->
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    
    <!-- Icon -->
    <icon src="www/img/logo.png" />
</widget>
